div{
 /*background-image: url("skyrim1.jpg")*/
/*}

p{
 color: #ffffcc ;*/
}

/*img {
	border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
   
    
}*/

div#flickrAPI>img{
	border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;       
}

footer {
	text-align: center;
	font-size: 12px;
	color: darkblue;
	
}